# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
*checkpoints* 

.DS_Store
*.lock
*.log
*.txt
src/env-PRIVATE.js
src/.ipynb_checkpoints/*
src/env.js
src/app.yaml
src/nohup.out
app-PRIVATE.yaml
*PRIVATE*
package.json.backup
*backup*
app.yaml
app.yaml
