# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev

.DS_Store
*.lock
*.log
*.txt
src/env-PRIVATE.js
src/.ipynb_checkpoints/env-checkpoint.js
src/env.js
src/.ipynb_checkpoints/env-PRIVATE-checkpoint.js
src/env.js
src/env.js
